/* Estilos para la página web */

body {
    background-color: #f2f2f2;
    font-size: 16px;
}

h1 {
    font-size: 36px;
    color: #333;
}

.encabezado {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 42px;
}

.parrafo {
    text-align: justify;
    text-transform: capitalize;
    font-size: 24px;
}

#fondo {
    background-color: #7fc4e4;
    /* modificar el color a elección */
}

p a {
    color: #8c05faf0;
    text-decoration: none;
}